{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
  <div class="{{#if @first}}sixteen{{else}}eight{{/if}} wide column">
    <article class="ui fluid card {{post_class}}" role="article" itemscope itemtype="http://schema.org/BlogPosting">
      {{#if image}}
        <div class="image">
          <div class="ui active dimmer">
            <div class="ui loader"></div>
          </div>
          <img src="{{asset "images/blank.png"}}" data-src="{{image}}">
        </div>
      {{/if}}

      <div class="content">
        <div class="header" itemprop="name">{{title}}</div>
        <div class="meta">
          <span class="author">by {{author}}</span><time datetime="{{date published_at format="YYYY-MM-DD"}}" itemprop="datePublished">{{date published_at timeago="true"}}</time>
        </div>
        <div class="description" itemprop="description">
          <p>{{excerpt words="25"}} ...</p>
          <a href="{{url}}" class="readmore" itemprop="url">Continue Reading</a>
        </div>
      </div>

      <div class="extra content">
        <span class="tags">{{tags prefix="on "}}</span>
      </div>
    </article>
  </div>
{{/foreach}}

